@import '..//../style/vars';
.home {
  height: 100%;
  background: url(../../img/Bg_img_01.png);
  background-size: cover;
  @include center-all;
  &,
  p,
  button {
    color: white;
    font-weight: 700;
  }
  h1 {
    font-size: 60px;
    margin: 0;
    line-height: 60px;
    &:nth-child(2) {
      color: $color-secondary;
    }
  }
  p {
    font-size: 24px;
    line-height: 18px;
    margin-top: 20px;
  }
  a {
    z-index: 1500;
    button {
      position: absolute;
      &.contactus-btn {
        transform: translate(-50%, -50%);
        margin: 0;
        bottom: 30%;
      }
      &.callus-btn {
        border-radius: 50%;
        height: 70px;
        width: 70px;
        bottom: 20px;
        right: 20px;
        padding: 0;
        margin: 0;
      }
    }
  }
}