$color-primary: black;
$color-secondary: #B88B58;
// $color-tertiary: 
$color-grey-1: #373737;
$color-grey-2: #cfcfcf;
$color-grey-3: #EDEDED;


$color-twitter: #33c5ef;
$color-linkedin: #117bb3;
$color-facebook: #336197;
$color-google-plus: #e74137;
$color-pinterest: #b71b29;

