@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700');

@import 'vars';

* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app {
  margin: 0 auto;
  * {
    align-items: center;
  }
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
  .container {
    margin: 0 auto;
    max-width: 1080px;
  }
  nav {
    grid-row: 1;
  }
  #page {
    grid-row: 2;
  }
  footer {
    grid-row: 3;
  }
}

button {
  border: 0;
  background: $color-secondary;
  // box-shadow: $halo-small;
  border-radius: 20px;
  color: white;
  padding: 15px 50px;
  margin: 30px auto;
}