@import url("https://fonts.googleapis.com/css?family=Montserrat:400,700");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

.app * {
  align-items: center;
}

.app .container {
  margin: 0 auto;
  max-width: 1080px;
}

.app nav {
  grid-row: 1;
}

.app #page {
  grid-row: 2;
}

.app footer {
  grid-row: 3;
}

button {
  border: 0;
  background: #B88B58;
  border-radius: 20px;
  color: white;
  padding: 15px 50px;
  margin: 30px auto;
}
