@import url("https://fonts.googleapis.com/css?family=Montserrat");
* {
  margin: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

.app {
  margin: 0 auto;
  height: 100vh;
  display: grid;
  grid-template-rows: 100px 1fr 50px;
}

.app * {
  align-items: center;
}

.app .container {
  margin: 0 auto;
  max-width: 1080px;
}
